body {
  margin: 0;
  padding: 0;
  background-color:#edeff5;
}
*{
  margin:0;
  padding:0;
}

.hover:hover
{
  transform:scale(1.07);
  transition: all 2s;
}
.text-body-tertiary
{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-bar
{
  background-color:red;
}

